<%= form_with(model: user, local: true) do |f|%>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset class="col-md-6 col-md-offset-1">
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm:' %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    
    <div class="form-group">
      <%= f.label :license_plate %>
      <%= f.text_field :license_plate, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :type_id %>
      <%= f.collection_select :type_id, Type.order(:name), :id, :name, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit("Register", class: "btn btn-success") %>
    </div>
  </fieldset>
<% end %>
