<%= form_for @user, :url => { :action => 'set_location' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1>Set Location</h1>
<div>
  <strong>Current Location:</strong>
  <%= @user.current_location %>
  <%= "http://maps.googleapis.com/maps/api/staticmap?center=#{@user.latitude},#{@user.longitude}&markers=#{@user.latitude},#{@user.longitude}&zoom=15&size=640x400" %>
</div>

  <fieldset>
    <legend></legend>
    <div class="field">
      <%= text_field_tag :location, params[:location] %>
    </div>

    <div class="field">
      <%= f.hidden_field :current_location %>
    </div>

    <div class="actions">
      <%= f.submit "Set!" %>
    </div>
  </fieldset>
<% end %>

<%= link_to 'Back', @user %>
<div>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@user.latitude},#{@user.longitude}&markers=#{@user.latitude},#{@user.longitude}&zoom=15&size=640x400",
      class: 'img-fluid img-rounded', alt: "#{@user.first_name} on the map"%>
</div>