<!DOCTYPE html>
<html>
  <head>
    <title>Go-Jek For Partners</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>
  
  <% if session[:user_id] %>
    <body class="fixed skin-blue-light">

      <div class="wrapper">
        <%= render 'layouts/navigation/layout'%>

        <div class="content-wrapper">
            <%= yield %>
        </div>

        <%= render 'layouts/navigation/footer' %>
      </div>
    </body>
  <% else %>
    <body class="hold-transition login-page">
      <%= yield %>
    </body>
  <% end %>
</html>
