<div class="main-sidebar">
  <div class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img alt="User Image" class="user-image" src="http://placehold.it/160x160" />
      </div>

      <div class="pull-left info">
        <p>
          <%= link_to "#{@current_user.full_name}", user_path %>
        </p>
        <p><span class="glyphicon glyphicon-credit-card"></span> <%= @current_user.idr_gopay %></p>        
      </div>
    </div>

    <ul class="sidebar-menu">
      <li class="header">
        <p><span class="glyphicon glyphicon-pushpin"></span> 
          <%= !@current_user.current_location.nil? ? @current_user.current_location : "Set your location!" %>
        </p>
      </li>
      <li class="active">
        <%= link_to "Set Location", edit_location_path %>
      </li>
      <li><%= link_to "Job History", orders_path %></li>
    </ul>
  </div>
</div>